@page "/"

<PageTitle>Games Catalog</PageTitle>

<h1>Games Catalog</h1>

<div class="row mb-4">
    <div class="col-sm-6">
        <button type="button" class="btn btn-primary" @onclick="CreateGame">New Game</button>
    </div>
</div>

@if (games is null)
{
    <p><em>Loading ...</em></p>
}
else
{
    <DeleteGame Game="@currentGame" OnClose="@OnDeleteModalCloseAsync">
    </DeleteGame>

    <!-- Table with shadow border rounded corners "table-striped" -->
    <table class="table table-bordered table-striped shadow-sm table-light table-hover">
        <thead class="table-primary">
        <th>Id</th>
        <th>Name</th>
        <th>Genre</th>
        <th>Price</th>
        <th>Release Date</th>
        <th>Actions</th>
        </thead>
        <tbody>
            @foreach (var game in games)
            {
                <tr>
                    <td>@game.Id</td>
                    <td>@game.Name</td>
                    <td>@game.Genre</td>
                    <td>@game.Price</td>
                    <td>@game.ReleaseDate.ToString("MM/dd/yyyy")</td>
                    <td>
                        <button class="btn btn-primary" @onclick="() => EditGame(game.Id)"><span class="bi bi-pencil-square" aria-hidden="true"></span></button>
                        <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal"
                                @onclick="(() => currentGame = game)">
                            <span class="bi bi-trash3" aria-hidden="true"></span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}